@page
@model Paylocity.CodingExcercise.Web.Pages.Employee.ResultModel
@{
    ViewData["Title"] = "Benefit Deduction Calculation Result";
}

<div class="text-center">
    <h1>Benefit Deduction Calculation Result</h1>
    <hr />
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Deduction Per Paycheck</th>
            <th>Deduction Per Year</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Employee</td>
            <td>@Html.DisplayFor(m => m.DeductionCalculationResult.EmployeeDeductionPerPayCheck)</td>
            <td>@Html.DisplayFor(m => m.DeductionCalculationResult.EmployeeDeductionPerYear)</td>
        </tr>
        @if (Model.DeductionCalculationResult.DependentsDeductionPerPayCheck > 0)
        {
            <tr>
                <td>Dependents</td>
                <td>@Html.DisplayFor(m => m.DeductionCalculationResult.DependentsDeductionPerPayCheck)</td>
                <td>@Html.DisplayFor(m => m.DeductionCalculationResult.DependentsDeductionPerYear)</td>
            </tr>
        }
        <tr>
            <td>Total</td>
            <td>@Html.DisplayFor(m => m.DeductionCalculationResult.TotalDeductionPerPayCheck)</td>
            <td>@Html.DisplayFor(m => m.DeductionCalculationResult.TotalDeductionPerYear)</td>
        </tr>
    </tbody>
</table>
<h5>Employee yearly pay after deductions: @Html.DisplayFor(m => m.DeductionCalculationResult.EmployeeYearlyPayAfterDeductions) </h5>
<h5>Employee paycheck after deductions: @Html.DisplayFor(m => m.DeductionCalculationResult.EmployeePaycheckAfterDeductions)</h5>

